<div class="simple-form login-form">
  <h2>Sign up</h2>
  <hr>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, required: true, autofocus: true, label: false, placeholder: "username" %>
    <%= f.input :email, required: true, label: false, placeholder: "email" %>
    <div id="i" class="filters" style="margin-bottom: 15px;">
      <%= f.input :genre_id, :collection => Genre.all, required: true, label: false, prompt: "favourite genre", wrapper_html: { style: "margin-bottom: 0;"} %>
    </div>
    <%= f.input :password, required: true, label: false, placeholder: "password (#{@minimum_password_length} char min.)" %>
    <%= f.input :password_confirmation, required: true, label: false, placeholder: "confirm password" %>
    <%= f.label :avatar do %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
    <% end %>
    <hr>
    <div class="simple-form-input form-actions">

      <%= f.button :submit, "Sign up", class: "btn-pink btn-block" %>
    </div>
  </div>
  <div> <%= puts params  %> </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>
