<hr>
      <ul style="list-style-type: none;">
        <li><img src="<%= asset_path "genre.png" %>" alt="Max Players"> <%= @jamm.genre.name %></li>
        <li><img src="<%= asset_path "max_players.png" %>" alt="Max Players"> <%= @jamm.max_players %> players</li>
        <li><img src="<%= asset_path "duration.png" %>" alt="Max Players"> <%= @jamm.duration %> hours</li>
        <li><img src="<%= asset_path "level.png" %>" alt="Max Players"> <%= @jamm.level %></li>
      </ul>
