<% leader = @jamm.user %> <% participant = jamm_player.user %>
  <% instrument = jamm_player.instrument.instrument_type.icon_url %>
          <p><strong> <%= cl_image_tag(instrument, width: 70, class: "avatar")%>

            <% if user_signed_in? %>
               <% unless participant.nil? %>
                  <%= cl_image_tag(jamm_player.user.picture, width: 70, class: "avatar-large") %>
                  <%=  participant.username %>
                  <% if current_user == participant || leader == current_user  %>
                    <% if current_user == participant && leader != current_user%></%>
                      <% if @instruments.include? jamm_player.instrument  %>
                         <%= link_to "Leave group as instrument owner", jamm_jamm_player_path(@jamm, jamm_player), method: :delete, class: "join-but hvr-icon-float-away", data: { confirm: 'Are you sure?' } %>
                      <% else %>
                        <%= link_to "Leave group", jamm_jamm_player_path(@jamm, jamm_player), method: :patch, class: "join-but hvr-icon-float-away", data: { confirm: 'Are you sure?' } %>
                      <% end %>
                    <% end %>
                    <% if leader == current_user %>
                      <%= link_to "Play different instrument", jamm_jamm_player_path(@jamm, jamm_player), method: :patch, class: "join-but hvr-icon-float-away", data: { confirm: 'Are you sure?' } %>

                      <% end %>
                    <% end %>
                <% else %>
                  <%= link_to "Play this instrument", jamm_jamm_player_path(@jamm, jamm_player), method: :patch %>
              <% end %>
            <% else %>
            <% end %>
          </strong> </p>





