<div class="cards_container">
  <% @jamms.each do |jam|  %>
    <div class="card">
      <div class="card-left">
        <div class="image">
          <p class= "jamm-address"><%= jam.address %></p>
          <p class= "jamm-date"><%= jam.date %></p>
        </div>
        <div class="card-right">
          <h3 class= "jamm-name"><%= jam.name %></h3>
          <h3 class= "jamm-genre"><%= jam.genre.name %></h3>
          <h3 class= "jamm-level"><%= jam.level %></h3>

          <%  JammPlayer.where(jamm_id: jam.id).all.each do |player|  %>

            <% instruments = [] %>
            <% if player.instrument_id.nil? %>
               <% instruments << "No instrument"  %>
            <% else %>
              <% instruments << InstrumentType.where(id: Instrument.where(id: player.instrument_id).first.instrument_type_id).last.name %>
            <% end %>

            <p> <%= instruments.sort.join(",") %> </p>
          <% end %>
          <h3> Instruments </h3>
        </div>
      </div>
    <div class="card">
  <% end %>
</div>
