<div class="cards_container">
  <% @jamms.each do |jam|  %>
  <div class="card">

    <div class="card-left_content card_image"> <%= cl_image_tag jam.photo, width: 300, height: 300, crop: :fill%>
    </div>

    <div class="card-right_content">

      <div class= "row card-top">
        <div class="col-xs-10">
          <h3><%= link_to jam.name, jamm_path(jam) %></h3>
        </div>
        <div class="col-xs-2">
          <p> <%= jam.date %> </p>
        </div>
      </div>

      <div class="row card-middle-top">
        <div class="col-xs-10">
          <h4 ><%= jam.genre.name %></h4>
        </div>
        <div class="col-xs-2">
          <h4><%= jam.level %></h4>
        </div>
      </div>

      <div class="row card-middle">
        <div class="col-xs-6">
          <p><%= jam.address %></p>
          <hr>
        </div>
      </div>

      <div class="row card-bottom">
        <div class="col-xs-10">
          <% jamm_players = 0 %> <!-- COUNTER TO KNOW HOW MANY PLAYER ARE ACTIVE RIGHT NOW IN THE JAMM SESH -->
            <%  JammPlayer.where(jamm_id: jam.id).all.each do |player|  %>

            <!--THIS USES THE FIRST INSTRUMENT OF THE JAMMPLAYER AND PUT IN THE CARD,SHOULD CHANGE WHEN MANUALLY SELECT THE INSTRUMENT -->
            <% instrument_t =InstrumentType.where(id: Instrument.where(id: player.instrument_id).first.instrument_type_id).first.name %>
            <!--STORE THE EMAIL OF THE USER -->
            <% email = User.where(id: player.user_id).first.email %>
            <!-- THIS SHOULD BE ICONS...SHOW THE INSTRUMENT OF THE USER AND THE EMAIL -->
            <p class="card-instrument-taken"> <%= instrument_t %>: <%= email %> </p>

            <% jamm_players += 1 %>
          <% end %>
          <!-- STORE A VALUE WITH THE NUMBER OF AVAILABLE SPOTS -->
          <% available_spots = jam.max_players - jamm_players %>

          <!-- INJECTS ALL THE AVAILABLE SPOTS AS LINKS TO THE SHOW OF THE PAGE. COULD GO TO THE NEW JAMMPLAYER CONTROLLER ACTION -->
          <% available_spots.times do |av| %>
            <p> <%= link_to "Available", jamm_path(jam)  %> </p>
          <% end  %>
        </div>
        <div class="col-xs-2">
          <p> Max Num players <%= jam.max_players %></p>
        </div>
      </div>


    </div>
  </div>
  <% end %>
</div>
