
<div class="cards_container container">
  <% if @jamms.empty? %>
    <h2> We couldn't find results for your search, try again with other filters</h2>
  <% else %>
    <% @jamms.each do |jam|  %>
      <% total_players = jam.max_players %>
      <% active_players = jam.jamm_players.where.not(user_id: nil).count %>
      <% unless total_players <= active_players %>
        <div class="card">
          <% if jam.user.picture %>
            <div class="card-left_content hidden-xs" style="background-image: url('<%= cl_image_path jam.user.picture %>')"></div>
          <% else %>
            <div class="card-left_content hidden-xs" style="background-image: url('<%= cl_image_path jam.user.avatar %>')"></div>
          <% end %>
          <div class="card-right_content">
            <div class= "card-top">
              <h3><%= jam.name %></h3>
              <p> <%= jam.time %>:00 - <%= jam.date.strftime('%A, %b %d') %> </p>
            </div>
            <div class="card-middle-top">
              <div>
                <h4 class="pink"><%= jam.genre.name %></h4>
              </div>
              <div>
                <h4><%= jam.level %></h4>
              </div>
            </div>
            <div class="card-middle">
              <p><em>> <%= jam.address %></em></p>
            </div>
            <div class="line" style="border: 1px solid #DE7B39"></div>
            <div class="card-bottom">
              <% jamm_players = 0 %> <!-- COUNTER TO KNOW HOW MANY PLAYER ARE ACTIVE RIGHT NOW IN THE JAMM SESH -->
              <%  JammPlayer.where(jamm_id: jam.id).all.each do |player|  %>

                <!--THIS USES THE FIRST INSTRUMENT OF THE JAMMPLAYER AND PUT IN THE CARD,SHOULD CHANGE WHEN MANUALLY SELECT THE INSTRUMENT -->
                <% instrument_t = player.instrument.instrument_type %>
                <!--STORE THE EMAIL OF THE USER -->

                <% if player.user_id.nil? %>
                  <!-- THIS SHOULD BE ICONS...SHOW THE INSTRUMENT OF THE USER AND THE EMAIL -->
                  <div class="icon-wrap">
                    <%= cl_image_tag(instrument_t.icon_url, color: "#DE7B39", effect: "colorize:100",  width: 40, class: "avatar-instrument avatar-instrument-available") %>
                    <p class="avatar-instrument-type avatar-instrument-type-available"> <%= instrument_t.name %> </p>
                  </div>
                <% else %>
                  <div class="icon-wrap">
                    <%= cl_image_tag(instrument_t.icon_url, width: 40, class: "avatar-instrument") %>
                    <p class="avatar-instrument-type avatar-instrument-type-taken"> <%= instrument_t.name %> </p>
                  </div>
                <% end %>
                <% jamm_players += 1 %>
              <% end %>

              <!-- STORE A VALUE WITH THE NUMBER OF AVAILABLE SPOTS -->
              <% available_spots = jam.max_players - jamm_players %>

              <% if jam.allow_new_instrument || (jam.allow_new_instrument == false && available_spots > 0) %>

              <% end %>
            </div>
          </div>
          <div class="card-extra-right">
            <%= link_to "", jamm_path(jam), class: "card-link" %>
            <p>more info</p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
