
<div class="banner-index" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, #090216 100%),  url('<%= image_url("banner2.jpg") %>');">
  <div class="banner-index_content">
    <h1>Filters</h1>
    <p>Your search result for :</p>
    <div id="search-results">

      <h2> <%= @search_params %> </h2>
    </div>
  </div>
</div>
<div class="index-container">
  <div class="filters">

    <%= search_form_for @q, url: jamms_path, method: "get" do |f| %>
      <%= form_tag jamms_path, method: "get" do %>
        <div id="city-filter" class="filter">
          <%= text_field_tag :city,
              params[:city],
              class: "btn form-control",
              placeholder: "Choose a city" %>
        </div>
        <div id="genre-filter" class="filter">
          <%= f.collection_select :genre_id_eq, @genres, "id", "name", {include_blank: "All"}, {class: "btn form-control" } %>
        </div>
        <div id="instrument-type-filter" class="filter">
           <%= select_tag "instrument_t",
            options_for_select(["Choose an instrument"]) + options_from_collection_for_select(@instrument_types, "name", "name"),
            class: "btn form-control" %>
        </div>
        <div>
          <%= f.submit 'Filter',
          id: "final-butt",
          class: "btn btn-success" %>
        </div>
      <% end %>
    <% end %>

  </div>
  <div class="sharedcards">
    <%= render 'shared/cards' %>
  </div>
</div>

