<div>

  <h1><%= @jamm.name %></h1>
  <ul>
    <li><%= @jamm.description %></li>
    <li>location: <%= @jamm.address %></li>
    <li>date: <%= @jamm.date %></li>
    <li>time: <%= @jamm.time %></li>
    <li>duration: <%= @jamm.duration %></li>
    <li>genre: <%= @jamm.genre.name %></li>
    <li>max-players: <%= @jamm.max_players %></li>
    <li>level: <%= @jamm.level %></li>
  </ul>

  <h2>Group Members</h2>
  <ul>
    <li>Player: <%= @jamm_players.id %></li>
    <li>Instrument: <%= @jamm_players.instrument_id %></li>
  </ul>

  <div
    id="map"
    style="width: 100%;
    height: 300px;"
    data-markers="<%= @markers.to_json %>">
  </div>
</div>





