<% leader = @jamm.user %>
<div class="banner-show-container" >
  <% if @jamm.jamm_picture.url  %>
    <div class="banner banner-show" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #090216 100%), url(<%= image_url(cl_image_path @jamm.jamm_picture) %>)"></div>
  <% else %>
    <div class="banner banner-show" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #090216 100%), url(<%= image_url(cl_image_path @jamm.photo) %>)"></div>
  <% end %>

  <div class="banner-show-content">
    <h1><%=@jamm.name %></h1>
  </div>
</div>
<div class="container">
  <div class="grid">
    <div class="description">
      <div class="desc-flex">
        <div class="desc-left">
          <% if @jamm.user.picture %>
          <%= cl_image_tag(@jamm.user.picture, width: 70, class: "avatar-square")%>
          <% else %>
          <%= cl_image_tag(@jamm.user.avatar, width: 70, class: "avatar-square")%>
          <% end %>
        </div>
        <div class="desc-right">
          <h4><em>'' <%= @jamm.description %> ,,</em></h4>
        </div>
      </div>
      <hr>
      <h4 style="text-decoration: underline;">Jamm Space:</h4>
      <h5> <%= @jamm.time %>:00 - <%= @jamm.date.strftime('%b %d, %Y') %> <strong> @ </strong> <%= @jamm.address %></h5>
    </div>

    <div class="players">
      <h3>Jamm Players</h3>
      <hr>
      <div class="players-list">
        <%= render @jamm_players %>
        <% if user_signed_in? %>
          <%= render "layouts/modal" %>
          <% if leader == current_user %>
            <p class= "show-avaliable-spot">
              <a href="" data-toggle="modal" data-target="#newJammPlayer">Add your available instruments</a>
            </p>
          <% end %>
          <div class="text-center">
            <% if @jamm.jamm_players.where(user: current_user).empty? && leader != current_user%>
              <hr>
              <p class= "show-avaliable-spot">
                <strong><a href="" data-toggle="modal" data-target="#newJammPlayer">Bring your instrument!</a></strong>
              </p>
            <% end %>
          </div>
        <% else %>
          <%= link_to "Join Jamm", new_user_session_path %>
        <% end %>
      </div>
    </div>
    <div class="jamm-info">
      <h3 class="jamm-info-title">Jamm Settings</h3>
      <%= render "jamm_players/jamm_details" %>
    </div>
  </div>
  <div class="map"
    id="map" style="width: 99%;"
    data-markers="<%= @markers.to_json %>">
  </div>
</div>
<%= render 'shared/footer' %>

