<div>

  <h1><%= @jamm.name %></h1>
    <p class= "show-description"><%= @jamm.description %></p>
    <p class= "show-address">location: <%= @jamm.address %></p>
    <p class= "show-date">date: <%= @jamm.date %></p>
    <p class= "show-hour">time: <%= @jamm.time %></p>
    <p class= "show-duration">duration: <%= @jamm.duration %></p>
    <p class= "show-name">genre: <%= @jamm.genre.name %></p>
    <p class= "show-max-players">max-players: <%= @jamm.max_players %></p>
    <p class= "show-level">level: <%= @jamm.level %></p>

  <% jamm_players = 0 %>
  <h2>Group Members</h2>
    <% @jamm_players.each do |player| %>

      <p class="show-player-name">Player: <%= player.id %></p>
      <p class="show-player-instrument">Instrument: <%= player.instrument_id %></p>
      <% jamm_players += 1 %>
    <% end %>

    <% available_spots = @jamm.max_players - jamm_players %>
      <!-- INJECTS ALL THE AVAILABLE SPOTS AS LINKS TO THE SHOW OF THE PAGE. COULD GO TO THE NEW JAMMPLAYER CONTROLLER ACTION -->
    <% available_spots.times do |av| %>
      <p class= "show-avaliable-spot"> <%= link_to "Available", new_jamm_jamm_player_path %> </p>
    <% end  %>
    <h3 class= "jamm-max-players"> Max Num players <%= @jamm.max_players %></h3>

  <div
    id="map"
    style="width: 100%;
    height: 300px;"
    data-markers="<%= @markers.to_json %>">
  </div>
</div>





