<div class="banner-show-container" >
  <div class="banner banner-show" style="background-image: url(<%= image_url(cl_image_path @jamm.photo) %>)"></div>
  <div class="banner-show-content">
    <h1><%=@jamm.name %></h1>
  </div>
</div>
<div class="container">
  <div class="grid">
    <div class="description">

      <h3> <%= @jamm.description %> </h3>
      <hr>
      <h4> <%= @jamm.time %>:00 - <%= @jamm.date %> <strong> @ </strong> <%= @jamm.address %></h4>

    </div>

    <div class="players">

      <h3>Jamm Players</h3>
      <hr>
      <div class="players-list">
        <% jamm_players = 0 %>
        <% @jamm_players.each do |player| %>
        <p>Player: <strong> <%= player.user ? player.user.username : "Available" %> </strong> Instrument: <strong> <%= player.instrument.instrument_type.name%> </strong> </p>
        <% jamm_players += 1 %>
        <% end %>
        <%= render "layouts/modal" %>
        <% available_spots = @jamm.max_players - jamm_players %>
        <!-- INJECTS ALL THE AVAILABLE SPOTS AS LINKS TO THE SHOW OF THE PAGE. COULD GO TO THE NEW JAMMPLAYER CONTROLLER ACTION -->
        <% available_spots.times do |av| %>
          <p class= "show-avaliable-spot">
            <a href="" data-toggle="modal" data-target="#newJammPlayer">Available</a>
          </p>
        <% end  %>
      </div>
    </div>

    <div class="jamm-info">
      <h3>Jamm Settings</h3>
      <hr>
      <ul style="list-style-type: none;">
        <li><img src="<%= asset_path "genre.png" %>" alt="Max Players"> <%= @jamm.genre.name %></li>
        <li><img src="<%= asset_path "max_players.png" %>" alt="Max Players"> <%= @jamm.max_players %> players</li>
        <li><img src="<%= asset_path "duration.png" %>" alt="Max Players"> <%= @jamm.duration %> hours</li>
        <li><img src="<%= asset_path "level.png" %>" alt="Max Players"> <%= @jamm.level %></li>
      </ul>
    </div>
  </div>

  <div class="map"
    id="map" style="width: 99%;"
    data-markers="<%= @markers.to_json %>">
  </div>
</div>
