<div class="banner-show-container" >
  <% if @jamm.jamm_picture.nil? %>
    <div class="banner banner-show" style="background-image: url(<%= image_url(cl_image_path @jamm.photo) %>)"></div>
  <% else %>
    <div class="banner banner-show" style="background-image: url(<%= image_url(cl_image_path @jamm.jamm_picture) %>)"></div>
  <% end %>
  <div class="banner-show-content">
    <h1><%=@jamm.name %></h1>
  </div>
</div>
<div class="container">
  <div class="grid">
    <div class="description">

      <h3> <%= @jamm.description %> </h3>
      <hr>
      <h4> <%= @jamm.time %>:00 - <%= @jamm.date.strftime('%b %d, %Y') %> <strong> @ </strong> <%= @jamm.address %></h4>

    </div>

    <div class="players">
    <h3>Jamm Players</h3>
    <hr>
    <div class="players-list">
      <%= render @jamm_players %>
          <% #@available_spots_bring_your_own.times do |av| %>

      <% if user_signed_in? %>
        <%= render "layouts/modal" %>
          <p class= "show-avaliable-spot">
            <a href="" data-toggle="modal" data-target="#newJammPlayer" class="join-but hvr-icon-float-away">Add
              <% # cl_image_tag("add.png", height: 50, width: 50, crop: "scale", class: "avatar-large plus-icon" )  %>
            </a>
          </p>
      <% else %>
        <%= link_to "Join", new_user_session_path, class: "join-but hvr-icon-float-away"  %>
          <% end %>
      </div>
    </div>

    <div class="jamm-info">
      <h3 class="jamm-info-title">Jamm Settings</h3>
      <%= render "jamm_players/jamm_details" %>
    </div>
  </div>

  <div class="map"
    id="map" style="width: 99%;"
    data-markers="<%= @markers.to_json %>">
  </div>
</div>
<%= render 'shared/footer' %>

