<div class="simple-form login-form">
<h2 class="form-title">Log in</h2>
<hr>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "email" %>
    <%= f.input :password, required: false, label: false, placeholder: "password" %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="simple-form-input form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
<hr>
<br>
<%= render "devise/shared/links" %>
</div>
