<div class="simple-form instrument-form">
  <h2>New instrument</h2>
  <hr>
  <div class="row">
    <%= simple_form_for @instrument do |f| %>
    <%= hidden_field_tag :jamm_id, @jamm.id    %>
    <%= f.input :model, label: false, placeholder: "instrument model" %>
    <%= f.input :instrument_type_id,  :collection => InstrumentType.all, label: false, prompt: "instrument type" %>
    <hr>
    <div class="simple-form-input form-actions">
      <%= f.submit "Create", class: "btn btn-danger" %>
    </div>
    <% end %>
  </div>
</div>

