<div id="newJammPlayer" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <%= simple_form_for [@jamm, @jamm_player] do |f| %>

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title"> <%= @jamm.name  %> </h3>
      </div>
      <div class="modal-body">
        <h4> Select your instrument </h4>

        <%= f.input :instrument_id, collection: User.find(146).instruments.map { |instrument| ["#{instrument.instrument_type.name}: #{instrument.model}", instrument.id] } %>

        <%= render "layouts/modal_new_instrument" %>
        <%= link_to "+ add instrument",  new_instrument_path(jamm_id: @jamm.id)  %>
     
      </div>
      <div class="modal-footer">

        <%= f.button :submit, class: "btn btn-success" %>

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <% end %>
  </div>
</div>
